## Preprocessing based on EDA

In [3]:

import warnings
warnings.filterwarnings("ignore")

# Core Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# ML libraries
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler

## Import data from EDA

In [4]:
data = pd.read_csv("cleaned_EDA_data.csv")
data.head()

,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [5]:
#  make a copy of the data
df= data.copy()

## Handling outliers using Capping

In [ ]:
def capping_outliers(df, feature):
    Q1=df[feature].quantile(0.25)
    Q3=df[feature].quantile(0.75)
    IQR= Q3-Q1
    lower= Q1 - 1.5 * IQR
    upper= Q3 + 1.5 * IQR
    print(f"Shape of data before capping: {df[feature].shape}")
    count_outlier= ((df[feature]<lower)|(df[feature]> upper)).sum()
    df= np.where(df[feature]<lower, lower, np.where(df[feature]> upper, upper, df[feature]))
    print(f"Shape of data after capping: {df[feature].shape}")
    print(f"The count of Clipped data is: {count_outlier}")
    return data

In [9]:
capping_outliers(df,"no_of_employees")

Shape of data before capping: (25480,)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices